<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-default big" id="togglevehiclelist" data-toggle="collapse" data-target="#showvehiclelist">Choose your car</button>
    <div class="row" id="showvehiclelist">
      {% for listpart in vehicle_list %}
        <div class="col-xs-6">
          {% for entry in listpart %}
            <button class="enlist_btn btn btn-sm form-control btn-default"
                    onclick="enlist_car(this);"
                    value="{% url 'staggeredstartrace_enlist' pk=object.pk vehicle_pk=entry.pk %}">{{ entry.name }}</button>

          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
