<h3>Invite players</h3>
<p>Use this link to invite some players:
  <input
      class="form-control"
      type="text"
      value="{{ invite_url }}"
      onClick="this.select();">
</p>
{% include "events/info_snippet.html" %}
<div class="panel panel-default">
  <div class="panel-body">
    <form action="." method="get" id="startraceform">
      <div class="row">
        <div class="col-xs-6">
          Start in about
        </div>
        <div class="col-xs-6 form-inline">
          <input value="15" style="width:5em;" type="text"
                 class="form-control" name="start_in_secs"> seconds
        </div>
        <div class="col-xs-6">
          Per overtake time deficit
        </div>
        <div class="col-xs-6 form-inline">
          <input value="600" style="width:5em;" type="text"
                 class="form-control" name="per_overtake_deficit_millis"> millisecs
        </div>
        <div class="col-xs-12">
          (for every car a player has to overtake, this amount of milliseconds
          will be subtracted from his start time delay,
          so he is not being punished for being in a faster vehicle.)
        </div>
        <div class="col-xs-12 text-center">
          <button id="submitstartraceform" class="btn btn-primary btn-block">Ok, let's do it!</button>
        </div>
      </div>
      <div class="form-inline">
      </div>
      <div class="form-inline">
      </div>
    </form>
  </div>
</div>

<h3>What to do next?</h3>
<p>Choose your vehicle if you want to drive too. (Click on the
  corresponding link.)</p>
<p>As soon as every player has joined,
  you can tell me when to start the race.
  Just fill out the form, and off you go!</p>
<p>Everyone will get a visual and audible signal when it's time for them to
  start racing.</p>
<p>Interested how it will sound and look? Find out here:
  {% include "events/gogogotestbutton.html" %}
</p>
