{% extends "events/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load widget_tweaks %}


{% block title %}Race creator{% endblock %}
{% block content %}

  {% if form.instance.pk %}
    <h1>Edit "{{ form.instance.title }}"</h1>
  {% else %}
    <h1>Create a Hotlapping event</h1>
  {% endif %}

  <div class="row" >
    <form action="." method="post" >
      <div class="col-md-6">
        {% csrf_token %}
        Title of your event
        {% render_field form.title class="form-control" %}

        Enter a description.
        <small>(Any "http"-links you enter will be converted to clickable links)</small>
        {% render_field form.description class="form-control" %}

        Structure
        {% render_field form.divisions_text class="form-control" %}
        <p><small>Specify the number of players for each table, followed by a colon ":" and the title of the table.
          <br>This field is <b>required</b>. If you just want one table, type "1000:Drivers" or something.
          <br>Abe.Cede was too lazy to implement some nice validator. It's up to you to be smart enough to enter this
          field correctly.</small></p>
      </div>
      <div class="col-md-6">
        Track:
        {% render_field form.track class="combobox form-control" %}
        Vehicles:
        {% render_field form.vehicles class="form-control" %}
        <hr>
        Start date:
        {% render_field form.start_date class="form-control" %}
        End date:
        {% render_field form.end_date class="form-control" %}
        <hr>
        If you don't want to show start date and end date, enter some text here
        which will be shown instead of the real time period.
        {% render_field form.time_period_text class="form-control" %}
      </div>
      <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-primary">Okay!</button>
      </div>
    </form>
  </div>

{% endblock %}


{% block trax_extra_script %}
  <script type="text/javascript">
    $(document).ready(function() {
      $('#id_vehicles').multiselect({
        maxHeight: 300,
        includeSelectAllOption: true,
        enableFiltering: true,
        enableClickableOptGroups: true,
        numberDisplayed:6,
        enableCaseInsensitiveFiltering: true
      });

      $('#id_start_date').datetimepicker({
        format:'YYYY-MM-DD HH:mm'
      });
      $('#id_end_date').datetimepicker({
        format:'YYYY-MM-DD HH:mm'
      });
      $("#id_start_date").on("dp.change", function (e) {
        $('#id_end_date').data("DateTimePicker").minDate(e.date);
      });
      $("#id_end_date").on("dp.change", function (e) {
        $('#id_start_date').data("DateTimePicker").maxDate(e.date);
      });
    });

  </script>

{% endblock %}
