<div class="row">
  <div class="col-md-6">
    {% if object.comment %}
      <h3>Information for this race</h3>
      {{ object.comment }}
      <hr>
    {% endif %}
    <h3>Invite players</h3>
    <p>Use this link to invite other players:
      <input
          class="form-control"
          type="text"
          value="{{ invite_url }}"
          onClick="this.select();">
    </p>
    <hr>
    <h3>What to do next?</h3>
    <p>Choose your vehicle by clicking above on the
      corresponding link.</p>
    <p>To see all joined players, click on "Starting order" above.</p>
    <p>Everyone will get a visual and audible signal when it's time for them to
      start racing.</p>
    <p>Interested how it will sound and look? Find out here:
      {% include "events/gogogotestbutton.html" %}
    </p>
  </div>

  <div class="col-md-6">
    <div class="alert alert-info">
      <h4 class="text-center"><span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
        This one's important!
        <span class="glyphicon glyphicon-alert" aria-hidden="true"></span></h4>
      <p>You will <b>not</b> hear the sound of the start signal if you minimize
        your browser window, so <b>keep it open</b> in the background!
        Do <b>not</b> click on the little "_" icon of the browser window's upper right corner!</p>
      <p>Also, this feature has only been tested in Chrome, Firefox and Chromium browsers.
        Use at your own risk in other browsers like Internet Explorer etc.</p>
    </div>
  </div>
</div>
