<div id="state_p">
  <h2>So, you are the pitwatcher...</h2>
  <p>Before you can invite your players, you need to synchronize the current time in the race with your computer.</p>
  <p>Please enter a time below and click on "Synchronize" at the exact moment the in-game time matches.</p>
  <form>
    <input name="syncminsec"
           required
           pattern="^\d{1,2}:\d{1,2}$"
           id="syncminsec"
           title="e.g. '0:30'"
           type="text">(MM:SS)
    <button class="btn" id="pitasynchronize">Synchronize!</button>
  </form>
</div>
