{% extends "events/base.html" %}
{% load i18n %}
{% load static %}
{% load compress %}
{% load bootstrap3 %}
{% load widget_tweaks %}

{% block title %}{{ object.track }} {% endblock %}
{% block content %}

  <div class="hidden" id="event_status">{{ object.status }}</div>
  <div class="hidden" id="json_url">{{ object.json_url }}</div>


  <h1><small>{{ object.laps }} laps on </small>{{ object.track }} <small>[{{ object.track.platform }}] hosted by {{ object.host }}</small></h1>
  <p><small>Algorithm for starting times: {{ object.get_algorithm_display }}</small></p>

  <div id="loading" class="row text-center">
    <button class="btn btn-lg btn-info"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button>
    <img src="/static/green_light.png" class="hide" alt=""/>
    <img src="/static/red_light.png" class="hide" alt=""/>

  </div>

  <div id="twocols" class="row" style="display:none">
    <div class="col-md-6">

      {% if request.user.username == object.host.username %}
        {% include "events/host_detail_snippet.html" %}
      {% else %}
        {% include "events/participant_detail_snippet.html" %}
      {% endif %}
    </div>

    <div class="col-md-6">


      {% include "events/enlist_form.html" %}
      <h3><span id="num_participants">0</span> registered players</h3>
      <table class="table table-bordered table-condensed" id="participants">
        <thead>
        <tr class="info">
          <td class="col-md-1">&nbsp;</td>
          <td class="col-md-2">Player</td>
          <td class="col-md-2">Vehicle</td>
          <td class="col-md-1">Start</td>
        </tr>
        </thead>
        <tbody id="participantsbody">
        </tbody>
      </table>

    </div>
  </div>

  <div id="racescreen" style="display:none">
    <table class="table table-bordered table-condensed" id="participants">
      <thead>
      <tr class="info">
        <td class="col-md-1">&nbsp;</td>
        <td class="col-md-2">Player</td>
        <td class="col-md-2">Vehicle</td>
        <td class="col-md-1">Start</td>
      </tr>
      </thead>
      <tbody id="racebody">
      </tbody>
    </table>
  </div>

  <div id="resultform" class="row" style="display:none">
    <div class="col-md-6">
      <form action="." method="post">
        {% csrf_token %}
        <h1>One little thing to do...</h1>
        <p>After the race please tell me your best lap time:

          <input name="personal_laptime"
                 required
                 pattern="^\d{1,2}:\d{1,2}\.\d\d?\d?$"
                 id="seconds"
                 title="e.g. '1:03.123'"
                 alt="alttext"
                 type="text">(MM:SS.milli)
        </p>
        <button type="submit" class="btn btn-primary">Save</button>
      </form></div>

    <div class="col-md-6">
      <form action="." method="post">
        {% csrf_token %}
        <input name="personal_laptime" value="-1" type="hidden">
        <button type="submit" class="btn btn-primary">Don't save. My laptime was abysmal.</button>
      </form>
    </div>
  </div>
  </div>
{% endblock %}
{% block trax_extra_script %}
  {% compress js %}
    <script src="/static/mespeak/mespeak.js"></script>
    <script src="{% static 'serverdate2.js' %}"></script>
    <script src="{% static 'staggeredstart2.js' %}"></script>
  {% endcompress %}
{% endblock %}
