{% extends "base.html" %}
{% load i18n %}

{% block title %}GTARacing.net{% endblock %}
{% block content %}

  <div class="row">
    <div class="col-md-5">
      {% if not request.user.is_authenticated %}
        <h1>Hi there! </h1>
        <p><b>Welcome to gtaracing.net!</b></p>
        <p>Browse through the tracks, marvel at the hottest laps of the users who have signed up here.
          But if you want <b>more</b>, register or login! (there's a clicky-thing on top of this page)</p>

      {% else %}
        <h1>Hi {{ request.user }}!</h1>
      {% endif %}
      <p>This little website aims to be a resource for all kinds of racing activities in GTA online.
        At the moment, there is a <b>Track Database</b> with the possibility to enter your fastest laps.
        Registered users can also create new tracks. As soon as there are enough tracks,
        we'll have some kind of search / filter functionality as well.
      </p>
      <p>There's also a list of all land <b>vehicles</b> where you can see how other racers performed on various tracks.
      </p>
      <p>Furthermore, there is a <b>Random Grid Generator</b> available, so if you host an event with
        multiple races, you can make sure that every participant has a fair chance with their
        positions on the starting grid.</p>
      <p><b><em>NEW!</em></b> You can host <b>Staggered Start Races</b>! Your drivers can choose any car they like, and I'll
        try to find out when everyone can start, so all drivers have an equal chance for winning a race.
        It is based on either Broughy1322's laps around Cutting Coroners GP ("Standard Only"), or your own laps
        that you entered here before ("Photo Finish") or a mixture of both ("Slow Assist"), meaning that drivers
        who are faster than Broughy on CCGP still use the standard Broughy-time and are not "punished" for being
        quick, whereas slower drivers may start a bit earlier to make them be able to still participate
        competitively.</p>
    </div>
    <div class="col-md-7">
      <h1>The most recent tracks
        <small class="pull-right">
          <a href="{% url "track_add" %}" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Add a track</a>
        </small>
      </h1>

      <table class="table table-striped table-bordered table-condensed">
        <thead>
        <th>&nbsp;</th>
        <th>{% trans "Title" %}</th>
        <th>{% trans "Author" %}</th>
        <th class="text-right">{% trans "Players" %}</th>
        <th class="text-right">{% trans "length km" %}</th>
        </thead>
        <tbody>
        {% for foo in tracks %}
          <tr>
            <td>{{ foo.get_platform_display }}</td>
            <td><a href="{{ foo.get_absolute_url }}">{{ foo.title }}</a></td>
            <td>{{ foo.author }}</td>
            <td class="text-right">{{ foo.num_players }}</td>
            <td class="text-right">{{ foo.route_length_km }}</td>
          </tr>
        {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

