{% extends "trax_base.html" %}
{% load i18n %}

{% block title %}Hi {% if not request.user.is_authenticated %}there{% else %}{{ request.user }}{% endif %}!{% endblock %}
{% block content %}

  <div class="row">
    <div class="col-md-4">
      {% if not request.user.is_authenticated %}
        <h1>Hi there! </h1>
        <p><b>Welcome to gtaracing.net!</b></p>
        <p>Browse through the tracks, marvel at the hottest laps of the users who have signed up here.
          But if you want <b>more</b>, register or login! (there's a clicky-thing on top of this page)</p>

      {% else %}
        <h1>Hi {{ request.user }}!</h1>
      {% endif %}
      <p>This little website aims to be a resource for all kinds of racing activities in GTA online.
        At the moment, there is a list of great <a href="{% url "track_list" %}"><b>tracks</b></a> with the possibility to enter your fastest laps.
        Registered users can also create new tracks.
      </p>
      <p>There's also a list of all land <a href="{% url "vehicle_list" %}"><b>vehicles</b></a> where you can see how other racers performed on various tracks.
      </p>
      <p>Furthermore, there is a <a href="{% url "randomracelist" %}"><b>Random Grid Generator</b></a> available, so if you host an event with
        multiple races, you can make sure that every participant has a fair chance with their
        positions on the starting grid.</p>
      <p><b><em>NEW!</em></b> You can host <b>Staggered Start Races</b>! Open the page of any track and click the button "Host a staggered start race".
        Your drivers can choose any car they like, and I'll
        try to find out when everyone can start, so everyone has an equal chance for winning a race.
        It is based on either Broughy1322's laps around Cutting Coroners GP ("Standard Only"), or your own laps
        that you entered here before ("Photo Finish") or a mixture of both ("Slow Assist"), meaning that drivers
        who are faster than Broughy on CCGP still use the standard Broughy-time and are not "punished" for being
        quick, whereas slower drivers may start a bit earlier to make them be able to still participate
        competitively.</p>
    </div>
    <div class="col-md-8">
      <h1>Some great verified lap times</h1>

      <table class="table table-striped table-bordered table-condensed">
        <thead>
        <th>{% trans "Track" %}</th>
        <th>{% trans "Driver" %}</th>
        <th>{% trans "Vehicle" %}</th>
        <th class="text-right">{% trans "Time" %}</th>
        </thead>
        <tbody>
        {% for lap in toplaps %}
          <tr>
            <td>
              {% if lap.link %}
                <a href="{{ lap.link }}"
                   title="external link as proof" target="_blank"><span class="glyphicon glyphicon-link"></span></a>
              {% endif %}
              <a href="{{ lap.track.get_absolute_url }}">{{ lap.track }}</a>
            </td>
            <td><a href="{{ lap.player.get_absolute_url }}">{{ lap.player }}</a></td>
            <td><a href="{{ lap.vehicle.get_absolute_url }}">{{ lap.vehicle }}</a></td>
            <td class="text-right">{{ lap.duration }}</td>
          </tr>
        {% endfor %}

        </tbody>
      </table>
      <h1>The most recent tracks
        <small class="pull-right">
          <a href="{% url "track_list" %}" class="btn btn-default">
            <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
            View all tracks</a>
        </small>
        <small class="pull-right">
          <a href="{% url "track_add" %}" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Add a track</a>
        </small>
      </h1>

      <table class="table table-striped table-bordered table-condensed">
        <thead>
        <th>&nbsp;</th>
        <th>{% trans "Title" %}</th>
        <th>{% trans "Author" %}</th>
        <th class="text-right">{% trans "Players" %}</th>
        <th class="text-right">{% trans "length km" %}</th>
        </thead>
        <tbody>
        {% for track in tracks %}
          <tr>
            <td>{{ track.get_platform_display }}</td>
            <td><a href="{{ track.get_absolute_url }}">{{ track.title }}</a>
              {% if track.video %}
                <span class="glyphicon glyphicon-film"></span>
              {% endif %}
              {% if track.image %}
                <span class="glyphicon glyphicon-picture"></span>
              {% endif %}
            </td>
            <td>{{ track.author }}</td>
            <td class="text-right">{{ track.num_players }}</td>
            <td class="text-right">{{ track.route_length }}</td>
          </tr>
        {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

