{% extends "trax_base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Imprint{% endblock %}
{% block content %}

  <div class="row">
    <div class="col-md-6">
      <img src="{% static "imprint.gif" %}">
    </div>
  <div class="col-md-6">
    <h2>Tools and other stuff being used here</h2>
    <ul>
      <li><a href="https://djangoproject.com/" target="_blank">Django</a> by the Django Foundation</li>
      <li><a href="https://jquery.com/" target="_blank">jQuery</a> by The jQuery Foundation</li>
      <li><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a> by Twitter Inc.</li>
      <li><a href="http://typodermicfonts.com/" target="_blank">Pricedown font</a> by Raymond Larabie</li>
      <li><a href="https://github.com/FriendlyBaron/GridCreator" target="_blank">GridCreator</a> by FriendlyBaron</li>
      <li><a href="https://github.com/NodeGuy/ServerDate" target="_blank">ServerDate.js</a> by David Braun</li>
      <li>500 error page image by Dilon Choudhury</li>
      <li>404 error page image by Jon Trillana</li>

    </ul>
  </div>
  </div>
{% endblock %}

