{% load i18n %}
<div class="panel panel-default">
  <div class="panel-heading"><h3 class="pricedown" style="margin-top:0px;margin-bottom:0px;">Add your own lap time here</h3></div>

  {% if request.user.is_authenticated %}

    <form action="{% url "laptime_add" obj.pk %}" method="POST">
      <div class="panel-body">
        {% csrf_token %}
        <div>
          <label for="vehicle">
            {% trans "vehicle" %}
          </label>
          <select class="form-control input-xxlarge" name="vehicle" id="vehicle" >
            <option value="">{% trans "select a vehicle" %}</option>
            {% for vehicle in vehicles %}<option value="{{ vehicle.pk }}">{{ vehicle.full_name }}</option>{% endfor %}
          </select>
        </div>
        <div>
          <label for="seconds">
            {% trans "seconds" %}
          </label>
          <input name="seconds"
                 required
                 pattern="^\d{1,2}:\d{1,2}\.\d\d?\d?$"
                 id="seconds"
                 title="e.g. '1:03.123'"
                 alt="alttext"
                 type="text">(MM:SS.milli)
        </div>
        <div>
          <label for="comment">
            {% trans "comment" %}
          </label><textarea class="form-control" id="comment" name="comment"></textarea>
        </div>
      </div>
      <div class="panel-footer">
        <button class="btn btn-primary" type="submit">Add this lap time</button>
      </div>
    </form>

  {% else %}

    <div style="padding:1em">
      <span class="glyphicon glyphicon-info-sign" style="font-size:18px;" aria-hidden="true"></span>
      You need to log in first. Click "Login/Register" on top of this page.
    </div>
    <div class="panel-footer">
    &nbsp;
    </div>

  {% endif %}
</div>
