{% extends "tracks/track_base.html" %}
{% load static %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load bootstrap3 %}
{% load embed_video_tags %}{% load i18n %}
{% load trax_extras %}

{% block title %}{{ obj.title }}{% endblock %}
{% block content %}

  <div id="epsilonaddlaptime" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
                  aria-hidden="true">&times;</button>
        </div>
        {% include "tracks/add_laptime_form.html" %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1>
        TEPCOTT Qualification <small>{{ obj.title }}</small>

        <small class="pull-right">
          {% if entry_possible %}
          <a href="#epsilonaddlaptime" role="button" class="btn btn-default" data-toggle="modal">
            <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
            Enter a lap time…</a>
          {% endif %}

          <a href="{{ obj.get_absolute_url }}" class="btn btn-default">
            Detailed track info</a>

          <a href="http://nodo.freeforums.net/thread/10213" target="_blank" class="btn btn-default">
            <span class="glyphicon glyphicon-link"></span> Visit the NoDo forum page</a>
        </small>
      </h1>
      {% if entry_possible %}
        <p>Here you can follow the current fastest laptime submissions around the qualifying track.
        The top 60 drivers will be allocated to their divisiona according to their fastest lap time.
        Other drivers will be placed in the waiting list.
          Submit as many lap times as you like; only your fastest one counts!</p>
        <p><b>Submissions are closed after March 30th, 18:00 UTC!</b></p>
      {% else %}
        <p>Here you see the fastest laptime submissions around the qualifying.
        The top 60 drivers have been allocated to their divisiona according to their fastest lap time.
        Other drivers have been placed in the waiting list.
        </p>
          <p><b>Qualifications are closed now.</b></p>
      {% endif %}

    </div>

  </div>
  <div class="row">
    {% for division in divisions %}
      <div class="col-md-6">
        {% if forloop.counter < 5 %}
          <h2>Division {{ forloop.counter }}</h2>
        {% else %}
          <h2>Waiting list</h2>
        {% endif %}

        <table class="table table-bordered table-condensed table-striped">
          <thead><th>#</th><th>Name</th><th>Laptime</th></thead>
          <tbody>

          {% for p,ls in division %}
            <tr>
              <td class="text-right">{{ forloop.counter }}</td>
              <td>{{ p }}</td>

              <td>
                {% for l in ls %}
                  {% if forloop.first %}
                    {{ l.duration }} <a href="{{ l.link }}" target="_blank"><span class="glyphicon glyphicon-link"></span></a> - {{ l.vehicle.name }}
                  {% else %}{% endif %}
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
          </tbody>

        </table>
      </div>
    {% endfor %}
  </div>
{% endblock %}
