{% extends "tracks/track_base.html" %}
{% load i18n %}

{% block title %}The tracks{% endblock %}
{% block content %}

  <div class="row">
    <div class="col-md-12">
      <h1>The tracks
        <small class="pull-right">
          <a href="{% url "track_add" %}" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Add a track</a>
        </small>
      </h1>

      <table id="tracktable" class="table table-striped table-bordered table-condensed">
        <thead>
        <th>_</th>
        <th>{% trans "Title" %}</th>
        <th>{% trans "Author" %}</th>
        <th>{% trans "Link" %}</th>
        </thead>
        <tbody>
        {% for track in object_list %}
          <tr>
            <td>{{ track.get_platform_display }}</td>
            <td><a href="{{ track.get_absolute_url }}">{{ track.title }}</a></td>
            <td>{{ track.author }}</td>
            <td><a href="{{ track.link }}" target="_blank">{{ track.link }}</a></td>
          </tr>
        {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

