{% extends "tracks/track_base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}{% if form.instance.pk %}Edit track
  "{{ form.instance.title }}"{% else %}Add a new track{% endif %}{% endblock %}
{% block content %}
  <div class="row">
  <div class="col-md-12">
    <h1>
    {% if form.instance.pk %}
      Edit track "{{ form.instance.title }}"
    {% else %}
      Add a new track
    {% endif %}
  </h1></div></div>

  {% if form.errors %}
    {{ form.errors }}

  {% endif %}

  <div class="row">
    <form action="." method="post">
      {% csrf_token %}
      <div class="col-md-7">
        <dl class="dl-horizontal">
          <dt><label for="id_title">Title</label></dt>
          <dd>{% render_field form.title class="form-control" %}
            {{ form.title.help_text }}</dd>
          <dt><label for="id_game_mode">Game mode</label></dt>
          <dd>{% render_field form.game_mode class="form-control" %}
            {{ form.game_mode.help_text }}</dd>
          <dt><label for="id_route_type">Route type</label></dt>
          <dd>{% render_field form.route_type class="form-control" %}
            {{ form.route_type.help_text }}</dd>
          <dt><label for="id_route_length">Route length (in km)</label></dt>
          <dd>{% render_field form.route_length_km class="form-control" %}
            {{ form.route_length_km.help_text }}</dd>
          <dt><label for="id_num_players">Number of players</label></dt>
          <dd>{% render_field form.num_players class="form-control" %}
            {{ form.num_players.help_text }}</dd>
          <dt><label for="id_typical_laptime">Typical laptime</label></dt>
          <dd>{% render_field form.typical_laptime class="form-control" %}
            {{ form.typical_laptime.help_text }}</dd>
          <dt><label for="id_description">Description</label></dt>
          <dd>{% render_field form.description class="form-control" %}
            {{ form.description.help_text }}</dd>
        </dl>
        <div class="row">
          <div class="col-md-12">
          Surfaces (the values MUST have a sum of 100)
            </div>
          <div class="col-md-2">Street
            {% render_field form.surface_street class="form-control" title="Typical streets in the city" %}
          </div>
          <div class="col-md-2">Roads
            {% render_field form.surface_road class="form-control" title="Tarmac roads e.g. Route 68" %}
          </div>
          <div class="col-md-2">Dirt
            {% render_field form.surface_dirt class="form-control" title="Non-tarmac gravel roads like in the desert" %}
          </div>
          <div class="col-md-2">Flat/Hwy
            {% render_field form.surface_flat class="form-control" title="Highways and flat areas like on LS Airport and Zancudo" %}
          </div>
          <div class="col-md-2">Stunt
            {% render_field form.surface_stunt class="form-control" title="Any artifical surface like stunt props." %}
          </div>
          <div class="col-md-2">Offroad
            {% render_field form.surface_offroad class="form-control" title="Grass, fields, forests etc." %}
          </div>
        </div>
      </div>
      <div class="col-md-4 col-md-push-1">
        <dl class="dl-horizontal">
          <dt><label for="id_author">Author</label></dt>
          <dd>{% render_field form.author class="form-control" %}
            {{ form.author.help_text }}</dd>
          <dt><label for="id_platform">Platform</label></dt>
          <dd>{% render_field form.platform class="form-control" %}
            {{ form.platform.help_text }}</dd>
          <dt><label for="id_elevation_changes">Elevation changes</label></dt>
          <dd>{% render_field form.elevation_changes class="form-control" %}
            {{ form.elevation_changes.help_text }}</dd>
          <dt><label for="id_car_classes">Car classes</label></dt>
          <dd>{% render_field form.car_classes class="form-control" %}
            {{ form.car_classes.help_text }}</dd>
          <dt><label for="id_pit_lane">Pit lane available?</label></dt>
          <dd>{% render_field form.pit_lane class="form-control" %}
            {{ form.pit_lane.help_text }}</dd>
          <dt><label for="id_link">RSC Link</label></dt>
          <dd>{% render_field form.link class="form-control" %}
            {{ form.link.help_text }}</dd>
          <dt><label for="id_video">Showcase video</label></dt>
          <dd>{% render_field form.video class="form-control" %}
            {{ form.video.help_text }}</dd>
        </dl>
      </div>
      <div class="row">
        <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Save</button>
          </div>
      </div>
    </form>
  </div>
{% endblock %}
