appnope==0.1.0
backports-abc==0.5
bleach==1.5.0
blinker==1.4
cffi==1.9.1
constantly==15.1.0
cryptography==1.7.1
csscompressor==0.9.4
cycler==0.10.0
decorator==4.0.11
Django==1.10.5
django-appconf==1.0.2
django-bootstrap3==8.1.0
django-compressor==2.1
django-datatables-view==1.13.2
django-embed-video==1.1.0
django-extensions==1.7.5
django-recaptcha==1.2.0
django-widget-tweaks==1.4.1
easy-thumbnails==2.3
ecdsa==0.13
entrypoints==0.2.2
fuzzywuzzy==0.14.0
html5lib==0.9999999
idna==2.2
incremental==16.10.1
ipdb==0.10.1
ipykernel==4.5.2
ipython==5.1.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
Jinja2==2.9.4
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.4.0
jupyter-console==5.0.0
jupyter-core==4.2.1
jupyter-sql==0.1.0
lxml==3.7.2
MarkupSafe==0.23
matplotlib==2.0.0
mistune==0.7.3
mpld3==0.3
nbconvert==5.1.1
nbformat==4.2.0
notebook==4.3.1
numpy==1.12.0
olefile==0.44
pandocfilters==1.4.1
paramiko==2.1.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.0.0
prompt-toolkit==1.0.9
psycopg2==2.6.2
ptyprocess==0.5.1
py==1.4.32
pyasn1==0.1.9
pycparser==2.17
pycrypto==2.6.1
Pygments==2.2.0
pyparsing==2.1.10
pytest==3.0.6
python-dateutil==2.6.0
python-Levenshtein==0.12.0
pytz==2016.10
pyzmq==16.0.2
qtconsole==4.2.1
rcssmin==1.0.6
requests==2.12.5
rjsmin==1.0.12
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.1.5
sqlparse==0.2.2
tabulate==0.7.7
terminado==0.6
testpath==0.3
tornado==4.4.2
traitlets==4.3.1
ts3==1.0.5
Twisted==16.6.0
uWSGI==2.0.14
w3lib==1.16.0
wcwidth==0.1.7
widgetsnbextension==1.2.6
XlsxWriter==0.9.6
zope.interface==4.3.3

