{% extends "base.html" %}
{% load i18n %}

{% block title %}Race list{% endblock %}
{% block content %}

  <h1>Create a randomized race list</h1>

  <p class="small">Lots of thanks to FriendlyBarons Random Grid Generator on which this thing is based on.
  See <a href="https://github.com/FriendlyBaron/GridCreator" target="_blank">his GitHub repository</a> for more info.</p>
  <form action="." method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Create race list</button>
  </form>

  {% if grids %}
    <div class="row">
      {% for grid in grids %}
        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="no-vert-space">Race {{ forloop.counter }}:</h2>
            </div>
            <div class="panel-body">
              {% for player in grid %}{{ player }}{% if not forloop.last %}<br>{% endif %}{% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

{% endblock %}

