.terrain_st {
  background-color: #333333;
}
.terrain_ro {
  background-color: #999999;
}
.terrain_hi {
  background-color: #cccccc;
}
.terrain_di {
  background-color: #ffa500;
}
.terrain_fl {
  background-color: #3333aa;
}
.terrain_s {
  background-color: #ff0000;
}
.terrain_of {
  background-color: #00aa00;
}

.no-top-margin {
  margin-top:0;
}
.no-vert-space {
    margin-top:0;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:0;
}

/*
body {
  background-image: url("gtatraxlogo.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
*/

h1, h2, h3, .h1, .h2, .h3
{
  font-family: 'Yanone Kaffeesatz', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 0.8;
  color: #888;
}
.pricedown {
    font-family: 'Yanone Kaffeesatz', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.pricedown>small, h1>small {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1>small, h2>small, h3>small, .h1>small, .h2>small, .h3>small
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
