.terrain_st {
  background-color: #333333;
}
.terrain_ro {
  background-color: #999999;
}
.terrain_hi {
  background-color: #cccccc;
}
.terrain_di {
  background-color: #ffa500;
}
.terrain_fl {
  background-color: #3333aa;
}
.terrain_s {
  background-color: #ff0000;
}
.terrain_of {
  background-color: #00aa00;
}

.no-top-margin {
  margin-top:0;
}

/*
body {
  background-image: url("gtatraxlogo.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
*/

@font-face {
    font-family: "pricedown";
    src: url("/static/fnt/32893D_0_0.woff") format('woff');
}

@font-face {
    font-family: "pricedown";
    src: url("/static/fnt/32893D_0_0.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "pricedown";
    src: url("/static/fnt/32893D_0_0.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "pricedown";
    src: url("/static/fnt/32893D_0_0.woff") format('woff');
    font-style: italic;
}
h1, h2, h3, .h1, .h2, .h3
{
  font-family: pricedown, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 0.8;
  color: inherit;
}
.pricedown {
    font-family: pricedown, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.pricedown>small, h1>small {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1>small, h2>small, h3>small, .h1>small, .h2>small, .h3>small
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
